<html>
  <head>
    <title>
      GPLUS TUTORING
    </title>
    <!--css base-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="icon" href="images/favicon.png">
    <!-- force setting li height due to issues-->
    <style>
      .pure-menu-item{height:34px;}
      td.img { padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px; }
    </style>
    <script src="static/lib/jquery-1.11.3.min.js"></script>
  </head>
  
  
  <body bgcolor="#d0d0ff">
    <center>
      <!--<h1>Welcome to GPlusTutoring's website!</h1>-->
      <img src="http://i.imgur.com/cm5l8QX.png" style="max-height:20%;max-width:20%;PADDING-TOP: 10px;PADDING-BOTTOM: 10px;"></img>
      <br>
      <div class="pure-menu pure-menu-horizontal" style="background-color:#e4e4e4;width:70%;">
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="/home" class="pure-button">Home</a></li>
          <li class="pure-menu-item"><a href="/details" class="pure-button">Details</a></li>
          <li class="pure-menu-item"><a href="/contact" class="pure-button">Contact Us</a></li>
          <li class="pure-menu-item"><a href="/location" class="pure-button">Location</a></li>
	  <li class="pure-menu-item"><a href="/media" class="pure-button">Media</a></li>
          <li class="pure-menu-item">
            <form method="GET" action="./" id="form1">
              <!-- have this route to same page, pull chinese elements if form["lang"]=="cn"-->
              <button class="pure-button" type="submit" name="lang" value="cn">中文</button>
            </form>
          </li>
          <!--
	  <li class="pure-menu-item">
            <form method="GET" id="form2" action="./">
              <button class="pure-button" type="submit" name="lang" value="sp">Español</button>
            </form>
          </li>
	  -->
        </ul>
      </div>
    
    <br>
    </center>
    <div style="margin: 0 auto;background-color:white;width:70%;PADDING-BOTTOM:40px;">
      {% block text %}
      
      {% endblock %}
    </div>
    <br>
    
  </body>
  <script type="text/javascript" src="static/script.js"></script>
  
</html>
