{% extends "base_en.html" %}

{% block text %}
<br>
&nbsp;&nbsp;&nbsp;Courses offered:
<div id="plans" style="width:90%;border:20px solid transparent;">
  <table class="pure-table pure-table-bordered" width="100%">
    <thead>
      <tr>
	<th width="30%">
	  Plan:
	</th>
	<th width="70%">
	</th>
      </tr>
    </thead>
    <!-- A -->
    <tr>
      <td>
	A) SAT
      </td>
      <td>
	Prepare for the College Admission Exam.<br>
	Covers reading, writing, and math.
      </td>
    </tr>
    <tr>
      <td>
	B) Specialized High School Admissions Test (SHSAT)
      </td>
      <td>
	For students in grade 8 or 9 planning to take this test.<br>
	Coursework in reading and math. 
      </td>
    </tr>
    <tr>
      <td>
	C) After School Tutoring
      </td>
      <td>
	..
      </td>
    </tr>
    <tr>
      <td>
	D) NY Statewide Exams
      </td>
      <td>
	For students in grades 3-8. <br>
	Covers common core assessments in reading and math.
      </td>
    </tr>
    <tr>
      <td>
	E) Chinese
      </td>
      <td>
	Course offered on the beginner level.
      </td>
    </tr>
    <tr>
      <td>
	F) Private Tutoring
      </td>
      <td>
	For the following:<br>
	&nbsp;&nbsp;&nbsp;Courses not previously listed.<br>
	&nbsp;&nbsp;&nbsp;Testing in only 1 subject.
      </td>
    </tr>




  </table>

</div>
{% endblock %}
