{% extends "base_cn.html" %}

{% block text %}
<br>
&nbsp;&nbsp;&nbsp;Courses offered:
<div id="plans" style="width:90%;border:20px solid transparent;">
  <table class="pure-table pure-table-bordered" width="100%">
    <thead>
      <tr>
	<th width="30%">
	  Plan:
	</th>
	<th width="70%">
	</th>
      </tr>
    </thead>
    <!-- A -->
    <tr>
      <td>
	A) 全國性大學入學評核試預備班 (SAT)
      </td>
      <td>
	預備大學評核試,增強閱讀、文法、寫作、字彙及數學解題技考,以争取最高分數,考取更好的大學。
      </td>
    </tr>
    <tr>
      <td>
	B) 名校高中特別考試訓練班 (SHSAT)
      </td>
      <td>
	適合希望入讀名校高中之六及七年級學生
      </td>
    </tr>
    <tr>
      <td>
	C) 課後補習班 (Afterschool Program)
      </td>
      <td>
	適合小學幼稚園至五年級之學生、並有小量初中生名額
      </td>
    </tr>
    <tr>
      <td>
	D) 小學英數州考預備班 (Statewide Exam Prep)
      </td>
      <td>
	適合小學三至五年級之學生、以應付紐約州共同核心升級試
      </td>
    </tr>
    <tr>
      <td>
	E) 中文班 (Chinese Class)
      </td>
      <td>
	適合沒有中文基礎之學生, 年級不限
      </td>
    </tr>
    <tr>
      <td>
	F) 私人補習(Private Tutoring)
      </td>
      <td>
	學生可選擇學科,與老師商討
      </td>
    </tr>
    <tr>
    	<td>
    	  幼兒智力發展班(上午班) Early Childhood Class (a.m.)
    	</td>
    	<td>
    	  學習英語、中文、數學、語言表達能力及遵重師長,遵守規則的美德、以作好學前之準備.
    	</td>
    </tr>
    <tr>
    	<td>
    	  暑期學習日營 (summer school)
    	</td>
    	<td>
    	  在充滿歡樂中渡過一個充實的暑假,迎接新學年的來臨。
    	</td>
    </tr>


  </table>

</div>
{% endblock %}
