{% extends "base_en.html" %}

{% block text %}
<font size="3">
<div style="width:50%;border:20px solid transparent;" id="mission">
  <p style="text-align:left;">
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;
  Gplus Tutoring was founded in 2011 by a NYS Licensed Math teacher and a School Counselor with multiple
  years of experience in the field of education. Our specialty is on Math, Science, and Computers.
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;
  At Gplus, students and teachers are treated with care and respect. Teachers work closely among themselves as a team to ensure the success of their students. Emotional domain of students is also addressed so that each student can maximize his or her
 learning capacity. 
  <br>
  &nbsp;&nbsp;&nbsp;&nbsp;
  Our aim is to help your children achieve their dream. We encourage you to visit us regarding any educational questions on the elementary school, junior high school, high school, and college level.

</p>
</div>
</font>
{% endblock %}
