{% extends "base_en.html" %}

{% block text %}
<font size="3">
  <table style="width:100%;">

    <tr>

      <td style="width:50%;vertical-align:top;">
	<div style="border:20px solid transparent;padding-left:5%;padding-right:5%;" id="mission">
	  <p style="text-align:left;line-height:150%;">
	    <br>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    於2011年, 一位紐約州持牌數學老師和學校輔導員創辦了Gplus 補習學校。我們在教育領域上有多年的經驗。我們的專長是在數學，科學和電腦 。
	    <br>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    在Gplus，學生和教師的待遇受到關懷和尊重。教師們保持密切合作，相互之間成為一個團隊，以確保學生的成功。教師們顧及學生的情感領域。我們也相互討論學生的學習情況, 讓每個學生都能最大限度地發揮他/她的學習能力。
	    <br>
	    &nbsp;&nbsp;&nbsp;&nbsp;
	    我們的目的是幫助孩子實現他們的夢想。我們鼓勵你來訪詢問有關於小學，初中，高中和大學的教育問題, 以確定一個最合適的教育計劃 。
	 </p>
	</div>
      </td>
      <td style="width:50%;padding-top:5%;padding-bottom:5%;padding-right:5%;">
	<center>
	<img src="/static/tim_2students.jpg" style="length:80%;width:80%;">
	</center>
      </td>

    </tr>

  </table>
</font>
{% endblock %}
