{% extends "base_cn.html" %}

{% block text %}
<div id="images" style="padding-top:5%;padding-bottom:5%;">
<center>
<!-- for now, will be a collage of images, but will change into a icon->resize page-->
<table style="width:100%;padding-top:5%;padding-bottom:5%;">
  <tr>
    <td class="img" style="width:50%;">
      <img src="static/mrwu.jpg" style="width:100%;">
    </td><td class="img">
      <img src="static/chinese2.jpg" style="width:100%;">
  </td></tr>
  <tr>
    <td class="img" style="width:50%;">
      <img src="static/chinese.jpg" style="width:100%;">
      </td><td class="img">
      <img src="static/roomA.jpg" style="width:100%;">
  </td></tr>
</table>
</center>
</div>

{% endblock %}

